

body {
	background-color:#eeebe8;
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.6;
	padding-top: 70px;
}


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: Normal;
	line-height: 1.1;

}

h1, h2, h3 {
	margin-top: 0px;
	
}

h1, .h1 {
	font-size: 46px;
}


h2, .h2 {
	font-size: 36px;
}

a {
	color: #005c9e;
	
}

a:hover, a:focus {
	color: #252677;
}

.form-control {
	-webkit-appearance: none;
	border-radius: 4;
	-webkit-border-radius: 4px;
}

.navbar-fixed-top {
	border-width: 0 0 0px;
	
	
}

.navbar {
	min-height: 70px;
	border: 0px;
	
}

.navbar-default {
	background-color: #fff;
	border-color: #fff;
	
}


.navbar-brand {		
		padding: 16px 14px;
		
		
}


.navbar-nav {
	
	margin-top: 17px;
	float: none;
	
}



.navbar-nav > li > a {
	
	font-family: Arial, sans-serif;
	font-size: 15px;
	color: #666464;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 13px;
	padding-bottom: 9px;
	
}

.navbar-header:after {
	clear: none !important;
	
}


.navbar-default .navbar-nav > li > a {
	color: #666464;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #000000;
}



.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color: #fff;
	color: #eb212e;
	
	
}

.navbar-toggle {
	border: 0px solid transparent;
	border-radius: 0px;	
	margin-right: 6px;
}

.navbar-toggle .icon-bar {
	border-radius: 0px;
	height: 3px;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #231f20;

}

.department {
	
	font-family: Arial, sans-serif;
	font-size: 26px;
	color: #6a5f58;
	float: left;
	padding-right: 25px;
	padding-top: 16px;
	
}


.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #eb212e;
	background-color: #ffffff;
}

.dropdown-menu {
	font-family: Arial, sans-serif;
	font-size: 14px;
	padding: 13px 4px;
	margin: 2px 0 0;
	background-color: #ffffff;
	border: 0px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 0px;
	
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	color: #000000;
	background-color: #ffffff;
}

.dropdown-menu > li > a {
	color: #666464;

}

.navbar-default .navbar-nav > .open > a .caret, .navbar-default .navbar-nav > .open > a:hover .caret, .navbar-default .navbar-nav > .open > a:focus .caret {
	border-top-color: #eb212e;
	border-bottom-color: #eb212e;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
	background-color: #eb212e;
}


.jumbotron {
	margin-bottom: 0px;
	margin-top: 20px;
	background-color: #92ceef;
}

.jumbotron h1 {
	line-height: 1;
	letter-spacing: 0px;
	font-family: Arial, sans-serif;
	font-size: 60px;
	color: #fff;
}

.jumbotron p {
	line-height: 1.2;
	letter-spacing: 0px;
	font-family: Arial, sans-serif;
	font-size: 20px;
}

.container .jumbotron {
	border-radius: 0px;

}


.jk-padded {
	padding: 40px;
	
}

.gutter {
	margin-top: 20px;
}

.jk-color-white {
	background-color: #ffffff;
}
/* BUTTONS */


.btn-default {
	font-family: Arial, sans-serif;
	color: #231f20;
	background-color: #f2f2f2;
	border-color: #f2f2f2;
	
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
	color: #231f20;
	background-color: #dfdfdf;
	border-color: #dfdfdf;
	
}



.btn-primary {
	font-family: Arial, sans-serif;
	color: #ffffff;
	background-color: #337db1;
	border-color: #337db1;
	
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
	color: #ffffff;
	background-color: #005c9e;
	border-color: #005c9e;
	
}




.btn-success {
	font-family: Arial, sans-serif;
	color: #ffffff;
	background-color: #33c09e;
	border-color: #33c09e;
	
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
	color: #ffffff;
	background-color: #00b086;
	border-color: #00b086;
	
}



.btn-info {
	font-family: Arial, sans-serif;
	color: #ffffff;
	background-color: #8fc1dd;
	border-color: #8fc1dd;
	
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
	color: #ffffff;
	background-color: #73b1d4;
	border-color: #73b1d4;
	
}



.btn-warning {
	font-family: Arial, sans-serif;
	color: #ffffff;
	background-color: #f59b65;
	border-color: #f59b65;
	
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning {
	color: #ffffff;
	background-color: #f3823e;
	border-color: #f3823e;
	
}



.btn-danger {
	font-family: Arial, sans-serif;
	color: #ffffff;
	background-color: #ef4d58;
	border-color: #ef4d58;
	
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
	color: #ffffff;
	background-color: #eb212e;
	border-color: #eb212e;
	
}



.btn-group>.btn, .btn-group-vertical>.btn {
	margin-right: 3px;
}


.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
	font-family: Arial, sans-serif;
	color: #ffffff;
	background-color: #337db1;
}

.glyphicon_search_menu {
	top: 14px;
	margin-left: -27px;
	font-size: 18px;
}


.breadcrumb {
	opacity: 0.5;
	border-radius: 0px;
	font-family: Arial, sans-serif;
	font-size: 12px;
	padding: 4px 11px;
	margin-bottom: 16px;
	background-color: #f5f5f5;
	
	
}


.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
	
	background-color: #337db1;
	border-color: #337db1;

}


.pager li>a, .pager li>span {
	display: inline-block;
	padding: 5px 14px;
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	border-radius: 4px;
}




.alert-success {
	background-color: #e5f7f3;
	border-color: #e5f7f3;
	color: #00b086;
}

.alert-info {
	background-color: #e5eef5;
	border-color: #e5eef5;
	color: #005c9e;
}

.alert-warning {
	background-color: #fef2eb;
	border-color: #fef2eb;
	color: #f3823e;
}

.alert-danger {
	background-color: #fde8ea;
	border-color: #fde8ea;
	color: #eb212e;
}

.alert-dismissable .close {
	top: -4px;
	right: -18px;

}

.close {
	font-size: 27px;
	font-weight: normal;
	font-family: Arial, sans-serif;

}

.alert .alert-link {
	font-weight: normal;
	font-family: Arial, sans-serif;
}





.progress-bar-success {
	background-color: #4cc8aa;
}

.progress-bar-info {
	background-color: #4c8dbb;
}

.progress-bar-warning {
	background-color: #f7a778;
}

.progress-bar-danger {
	background-color: #f1636c;
}




.badge {
	font-weight: normal;
	font-family: Arial, sans-serif;

}




@media (min-width: 768px) {
	.navbar > .container .navbar-brand {
		margin-left: -14px;
	}
  
	
  
}

@media (max-width: 990px) and (min-width: 768px) {
	
	.navbar-nav {
	
		margin-top: 16px;
	
	}
	
	
	.navbar > .container .navbar-brand {
		margin-left: -13px;
	}
	
	.container > .navbar-header, .container > .navbar-collapse {
		margin-top: 2px;
	}
	
	.jumbotron h1 {
		font-size: 50px;
		font-family: Arial, sans-serif;
	}
	
	.navbar-brand {		
		padding: 16px 12px;
		width: 140px;
		
	}
	
	
	.navbar-toggle {
		margin-top: 15px;
	}
	
	.navbar img {
		max-width: 100%;
	
	}

		
	.navbar-nav > li > a {
		
		font-family: Arial, sans-serif;
		font-size: 14px;
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 10px;
		padding-bottom: 9px;
		
	}
	
	.department {
		
		font-family: Arial, sans-serif;
		font-size: 22px;
		float: left;
		padding-right: 20px;
		padding-top: 15px;
		
	}

	
	
	
}


@media (max-width: 767px) {
	
	body {
		padding-top: 46px;
		font-family: Arial, sans-serif;
		font-size: 14px;
		line-height: 1.4;	
	
	}	

	.navbar {
		min-height: 50px;
	
		
	}
	
	.navbar-nav {
		margin-bottom: 30px;
		
	}

	
	.navbar img {
		max-width: 100%;
	
	}
	
	
	.navbar-brand {		
		padding: 12px 10px;
		width: 110px;
		
	}
	
	
	.department {
		font-family: Arial, sans-serif;
		font-size: 18px;
		float: left;
		padding-right: 0px;
		padding-top: 13px;
		
	}
	
	.navbar-default .navbar-nav .open .dropdown-menu>.active>a, .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
		background-color: #eb212e;
		color: #fff;
	}

	
	.container > .navbar-header, .container > .navbar-collapse {
		margin-left: -10px;
		
	}
	
	.jumbotron {
		margin-top: 18px;
		
	}
	
	.jumbotron h1 {
		font-size: 40px;
		font-family: Arial, sans-serif;
	}
	
	.jumbotron p {
		line-height: 1.3;
		font-size: 16px;
		
	}
	
	h1 {
		margin-top: 1px;
	}
	
	.btn-lg {
		padding: 10px 16px;
		font-size: 14px;
		border-radius: 4px;
	}
	
	
	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
		font-family: Helvetica, Arial, sans-serif;
	
	}
	
	h1, .h1 {
		font-size: 36px;
	}
	
	h2, .h2 {
		font-size: 24px;
	}
	
	.gutter {
		margin-top: 15px;
	}
	
	.jk-padded {
		padding: 20px;
		
	}

	.lead {
		font-size: 18px;
		line-height: 1.4;
	}
	
}
